@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Sedgwick+Ave+Display&display=swap');
body{
    width: 100vw;
    height: 100vh;
    background-image: url("ceu.jpg");
    font-size: x-large;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: white;
}